.add-event-row {
    margin-top: 15px;
    text-align: right;
    .add-icon {
        margin-right: 5px;
    }
}

.travel-mode-table {
    td {
        padding-right: 7px;
        .travel-mode-icon {
            margin-right: 10px;
            margin-left: 5px;
            width: 16px;
            text-align: center;
        }
    }
}
.calendar-menu-row{
    margin-bottom: 20px;
}
