/* line 4, ../scss/style.scss */
#logo {
  width: 200px;
}

/* line 7, ../scss/style.scss */
.nav-link {
  font-size: 25px;
  color: #3939ac;
}
/* line 8, ../scss/style.scss */
.nav-link i {
  margin-right: 10px;
}

/* line 14, ../scss/style.scss */
.main-view {
  padding: 10px 20px;
}

/* line 17, ../scss/style.scss */
.logout-button {
  margin-top: 10px;
}

/* line 20, ../scss/style.scss */
body.modal-open .modal {
  display: flex !important;
  height: 100%;
}

/* line 25, ../scss/style.scss */
body.modal-open .modal .modal-dialog {
  margin: auto;
}

/* line 28, ../scss/style.scss */
.pac-container {
  z-index: 1051 !important;
}
